<section class="container">
  <form class="form form--login">
    <h2 class="form__title">Ingrese los datos</h2>
    <div class="form__group">
      <label class="form__label" for="login-usuario">Nombre</label>
      <input type="text" id="login-usuario" class="form__input" name="usuario">
    </div>
    <div class="form__group">
      <label class="form__label" for="login-password">Descripcion</label>
      <input type="password" id="login-password" class="form__input" name="Contraseña">
    </div>
    <button type="submit" class="form__button">Guardar</button>
  </form>
</section>