* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

button {
  background-color: rgb(146, 215, 146);
  border: none;
  min-width: 9vw;
  min-height: 2vw;

}

button:hover {
  background-color: rgb(71, 111, 71);
  cursor: pointer;
}